#Text{
    background-color: #a28089;
    color: wheat;
    font-weight: 700;
    font-size: larger;
    
}
#Text:focus{
    border: 5px solid #e5eaf5;
  
}
.wrapper{
    display: flex;
    flex-direction: column;
}
.textArea{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: start;
}
label{
    margin-bottom: 10px;
    font-size: 20px;
}